{% extends "base.html" %}

{% block content %}

<h2>Editar jugador</h2>

<form action="{{ url_for('edit_player', id=player.id) }}" method="POST">

    <label>Nombre</label><br>
    <input type="text" name="name" value="{{ player.name }}" required>

    <br><br>

    <label>Nickname</label><br>
    <input type="text" name="nickname" value="{{ player.nickname }}" required>

    <br><br>

    <button type="submit">Actualizar</button>
    <a href="{{ url_for('players') }}">Cancelar</a>

</form>

{% endblock %}