{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 text-center">Ranking en Tiempo Real</h2>

<div id="ranking-container">
    {% for player, score in ranking %}
    <div class="card ranking-card mb-2 p-4 d-flex flex-row justify-content-between align-items-center shadow-sm" style="padding-left: 100px!important;" data-player="{{ player }}">
        <div class="fw-bold">#{{ loop.index }}</div>
        <div class="flex-grow-1 ms-3">{{ player }}</div>
         
        <div class="badge bg-black fs-4">{{ score | int }}</div>
    </div>
    {% endfor %}
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/ranking.js') }}"></script>
{% endblock %}